@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

h1{
    color: red;
} 

body {
    display: block;
    margin: 1rem;
}

.cards{
    display: flex;
    flex-flow: row wrap;

}

